fastapi==0.111.0
starlette==0.37.2
pydantic==2.8.2
pydantic-core==2.20.1
SQLAlchemy==2.0.32
greenlet==3.0.3
psycopg[binary]==3.2.1
python-dotenv==1.0.1
opencv-python-headless==4.10.0.84
numpy==1.26.4
Pillow==10.2.0
torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2
facenet-pytorch==2.6.0
uvicorn[standard]==0.30.0
python-multipart==0.0.9
orjson==3.10.7
ujson==5.10.0
email-validator==2.1.0.post1
supabase==2.4.3